# Scala/SBT compilation binaries
target/
project/project/
project/target/
.bsp/
.metals/

# Local data layers & runtime variables (Never commit data or engine logs!)
data/output/
logs/
.tmp/
C:/tmp/

# OS/IDE specific system files
.DS_Store
.idea/
.vscode/
Thumbs.db